.header-container {
    display: flex;
    align-items: center;
}
.left-img img {
    display: block;
    width: 75%;
}
.right-img img {
    display: block;
    width: 100%;
}

/* media query for responsiveness */
@media screen and (max-width: 992px) and (min-width: 360px) {
    .header-container {
        flex-direction: column;
        padding: 30px;
    }
    .left-img img {
        display: block;
        width: 50%;
        margin: auto;
    }
}
