* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Serif', serif;
}
.side-space {
  background-image: linear-gradient(to bottom, #fffffb, #fff9b5);
  display: block;
  width: 90%;
  margin: auto;
}
.hr-line {
  margin: 5px 15px;
  border: 2px solid #f16558;
}

/* media query for responsiveness */
@media screen and (max-width: 992px) and (min-width: 360px) {
  .side-space {
    width: 100%;
  }
  .hr-line {
    margin: 10px;
    border: 1px solid #f16558;
  }
}